/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #e5e5e5;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles          Modified!!!
   ========================================================================== */

/* **************************************************************************
 * Base
 ***************************************************************************/
body { 
    color: #EFEFEF;
    font-family: 'Dosis', sans-serif;
    }
td {
    border: solid 1px;
    padding: 10px;
    text-align: center;
    background: rgba(255, 255, 255, .05); 
}

table tr:nth-child(even) {
    background-color: rgba(255, 255, 255, .05);
}
table tr:nth-child(odd) {
    background-color: rgba(255, 255, 255, .2);
}
table th {
    color: #164265;
    font-weight: bold;
    background-color:  rgba(255, 255, 255, .4);
}

tr td:hover {
    background: white;
}

/* **************************************************************************
 * Layout
 ***************************************************************************/

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Menu */
.main-menu ul { margin: 0; padding: 0;}

.main-menu li{
    list-style: none;
    display: inline-block;
}
.main-menu li a { padding: 1em; display: block;}


.main-menu li a:hover { background: rgba(255, 255, 255, .3);}

/* **************************************************************************
 * Modules
 ***************************************************************************/
/**
 * Size selector
 */

/**
 * sm = Small size. // Is > or = 568px.
 * md = Medium size. // Is > or = 768px.
 * lg = Large size. // Is > or = 1024px.
 * xl =Extra large size. // Is > or = 1280px.
 */

.is-tablet, .is-desk, .is-mobile {
  display: inline-block;
}

.widget-size__title {}

@media screen and (min-width: 568px) and (max-width: 768px) {
  .is-sm {
  background: rgba(256, 256, 256, 0.6);
  padding: 1px 3px;
  border-radius: 10px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1020px){
  .is-md {
  background: rgba(256, 256, 256, 0.6);
  padding: 1px 3px;
  border-radius: 10px;
  }
}
@media screen and (min-width: 1020px) and (max-width: 1280px){
  .is-lg {
  background: rgba(256, 256, 256, 0.6);
  padding: 1px 3px;
  border-radius: 10px;
  }
}
@media screen and (min-width: 1280px) {
  .is-xl {
  background: rgba(256, 256, 256, 0.6);
  padding: 1px 3px;
  border-radius: 10px;
  }
}

/* Table highlighting */
table {
  overflow: hidden;
}
td, th {
  padding: 10px;
  position: relative;
  outline: 0;
}
body:not(.nohover) tbody tr:hover {
  background-color: rgba(255, 255, 255, .7);
  color: black;
}
td:hover::after,
thead th:not(:empty):hover::after,
td:focus::after,
thead th:not(:empty):focus::after { 
  content: '';  
  height: 10000px;
  left: 0;
  position: absolute;  
  top: -5000px;
  width: 100%;
  z-index: -1;
}
td:hover::after,
th:hover::after {
  background-color: rgba(255, 255, 255, .7);
  color: black;
}

td:focus::after,
th:focus::after {
  background-color: lightblue;
}

/* Focus stuff for mobile */
td:focus::before,
tbody th:focus::before {
  background-color: lightblue;
  content: '';  
  height: 100%;
  top: 0;
  left: -5000px;
  position: absolute;  
  width: 10000px;
  z-index: -1;
}


/* Colors */

.blue { background: blue;}
.red { background: red;}
.orange {background: orange;}
.yellow {background: yellow;}
.green { background: green;}
.blue { background: blue;}

/* Some typography */



h1, h2, h3, h4, h5, h6 {}

a {
    text-decoration: none;
    color: #e5e5e5;
    width: 

}


/* **************************************************************************
 * $Theme
 ***************************************************************************/

/* Blue print grid */
.blueprint-grid:before {
  background: radial-gradient(ellipse at top, 
    rgba(255,255,255,0.3) 0%,
    rgba(255,255,255,0) 25%);
  content:"";
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -999;
}

.blueprint-grid:after {
  background: radial-gradient(ellipse at center, 
    rgba(0,0,0,0) 50%,
    rgba(0,0,0,0.75) 100%);
  content:"";
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  z-index: -999;
}


.blueprint-grid {
  height: 100vh;
  background: rgba(20, 63, 98, 1);
  background-image:
  /* Vertical rules */
      /* Units */
    repeating-linear-gradient(90deg, 
      rgba(255, 255, 255, 0.1), 
      rgba(255, 255, 255, 0.1) 1px, 
      transparent 1px, 
      transparent 50px
  ),
      /* 1/2 */
    repeating-linear-gradient(90deg, 
      rgba(255, 255, 255, 0.1), 
      rgba(255, 255, 255, 0.1) 1px, 
      transparent 1px, 
      transparent 25px
  ),
  /* Horizontal rules */
      /* Units */
    repeating-linear-gradient(180deg, 
      rgba(255, 255, 255, 0.2), 
      rgba(255, 255, 255, 0.2) 1px, 
      transparent 1px, 
      transparent 50px
  ),
      /* 1/2 */
    repeating-linear-gradient(180deg, 
      rgba(255, 255, 255, 0.1), 
      rgba(255, 255, 255, 0.1) 1px, 
      transparent 1px, 
      transparent 25px
  );
  
  background-size: 100px 50px;
  background-position: top center;
}

/* Windows & another effects on blocks */

.box {
    background: 
      linear-gradient(135deg, 
        rgba(255,255,255,0.25) 0%,
        rgba(255,255,255,0) 50%);
    border: solid 1px rgba(229, 229, 229, .5);
}



/* **************************************************************************
 * States
 ***************************************************************************/
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
